body{
    width: 100%;
    padding: 0;
    margin: 0;
}

#welcome-section{
    height: 100vh;
}

#navbar{
    display: block;
    position: fixed;
    top: 0;
}

@media screen and (max-width: 480px) {
  #navbar {
    background-color: lightgreen;
  }

  #welcome-section{
    height: 50vh;
}
}